.navItem li {
  padding: 5px 0;
  position: relative;
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
}

.navItem li:hover::before {
  content: "";
  width: 100%;
  background-color: #2550de;
  height: 3px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  /* border-color: #2550de; */
}
